body {
    background-color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h1 {
    font-size: 72px;
    margin-bottom: 0;
}

ul,
ol {
    font-size: 18px;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}